<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="blackbird-estimatetimeshipping-hyva-compatibility" xsi:type="array">
                    <item name="original_module" xsi:type="string">Blackbird_EstimateTimeShipping</item>
                    <item name="compat_module"   xsi:type="string">Blackbird_HyvaEstimateTimeShipping</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="blackbird_after_to_html"
                type="Blackbird\HyvaEstimateTimeShipping\Plugin\InjectPreparationTimeHtml" />
    </type>
</config>

